PORT=9091
ONENET_PRODUCT_ID=your_product_id
ONENET_DEVICE_ID=your_device_id
ONENET_ACCESS_KEY=your_access_key
ONENET_DEVICE_KEY=your_device_key
ONENET_API_BASE=https://iot-api.heclouds.com
LLM_API_KEY=your_llm_api_key
